* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin: 0;
    background-color: #f6db35;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.headerTitle {
    text-align: center;
    font-weight: 900;
    font-size: larger;
}
