<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Mart</title>
    <link rel="stylesheet" href="header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <img src="../../logo.png" alt="Logo" class="logo">
        <div class="headerTitle">
            <h1>PRATIKSHA'S MART</h1>
        </div>
    </div>
</body>

</html>