<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha Mart</title>
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" href="sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="mainContainer">
        <a href="../home/home.html" target="home">HOME</a>
        <a href="../clothing/clothing.html" target="home">CLOTHING</a>
        <a href="../electronics/electronics.html" target="home">ELECTRONICS</a>
        <a href="../furniture/furniture.html" target="home">FURNITURE</a>
        <a href="../groceries/groceries.html" target="home">GROCERIES</a>
        <a href="../stationaries/stationaries.html" target="home">STATIONARIES</a>
    </div>
</body>

</html>