<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Book Haven</title>
    <link rel="stylesheet" href="stationaries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="stationariesContainer">

        <div class="stationariesSubContainer">
            <img class="stationariesCover" src="./covers/cover1.jpg" alt="Book Cover 2">

            <h2>Ink Pen</h2>
            <p>Price: <b>₹ 100</b></p>
            <p>Brand: <b>uni-ball</b></p>
            <p>Description: Set of 4 Ink Based Pen with Sumdge Proof Ink</p>
        </div>

        <div class="stationariesSubContainer">
            <img class="stationariesCover" src="./covers/cover4.jpg" alt="Book Cover 2">

            <h2>Note Pad</h2>
            <p>Price: <b>₹ 250</b></p>
            <p>Brand: <b>Classmate</b></p>
            <p>Description: 100 Page Note Pad with A5 sized pages</p>
        </div>

        <div class="stationariesSubContainer">
            <img class="stationariesCover" src="./covers/cover2.jpg" alt="Book Cover 2">

            <h2>Gel Pen</h2>
            <p>Price: <b>₹ 200</b></p>
            <p>Brand: <b>pentonic</b></p>
            <p>Description: Set of 10 Sumdge Proof Gel Pens</p>
        </div>

        <div class="stationariesSubContainer">
            <img class="stationariesCover" src="./covers/cover5.jpg" alt="Book Cover 2">

            <h2>Sticky Notes</h2>
            <p>Price: <b>₹ 199</b></p>
            <p>Brand: <b>3M</b></p>
            <p>Description: Set of 200 Colourful Sticky Notes</p>
        </div>

        <div class="stationariesSubContainer">
            <img class="stationariesCover" src="./covers/cover3.jpg" alt="Book Cover 2">

            <h2>Ball Point Pen</h2>
            <p>Price: <b>₹ 200</b></p>
            <p>Brand: <b>Cello</b></p>
            <p>Description: Pack of 20 Blue Ball Point Pen</p>
        </div>

        <div class="stationariesSubContainer">
            <img class="stationariesCover" src="./covers/cover6.jpg" alt="Book Cover 2">

            <h2>Drawing Pencils</h2>
            <p>Price: <b>₹ 450</b></p>
            <p>Brand: <b>Apsara</b></p>
            <p>Description: Set of 12 Drawing Pencils </p>
            <p>(B, 2B, 3B, 4B, 5B, 6B, 7B, 8B, H, 2H, F and HB)</p>
        </div>

        <div class="stationariesSubContainer">
            <img class="stationariesCover" src="./covers/cover7.jpg" alt="Book Cover 2">

            <h2>Coloured Paper</h2>
            <p>Price: <b>₹ 299</b></p>
            <p>Brand: <b>JK Coppier</b></p>
            <p>Description: Set of 400 Coloured A4 Papers for Printing and Crafts</p>
        </div>


    </div>
</body>

</html>