<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Grocery Haven</title>
    <link rel="stylesheet" href="groceries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="groceriesContainer">

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover1.jpg" alt="Book Cover 2">

            <h2>Chips</h2>
            <p>Price: <b>₹ 20</b></p>
            <p>Brand: <b>Lays</b></p>
            <p>Description: Classic Salted Potato Chips</p>
        </div>

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover2.jpg" alt="Book Cover 2">

            <h2>Chocolate Pie</h2>
            <p>Price: <b>₹ 200</b></p>
            <p>Brand: <b>Sunfeast</b></p>
            <p>Description: The Original Pie stuffed with Creame and Coated with Chocolate</p>
        </div>

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover3.jpg" alt="Book Cover 2">

            <h2>Basmati Rice</h2>
            <p>Price: <b>₹ 1200</b></p>
            <p>Brand: <b>Daawat</b></p>
            <p>Description: 2 Years Aged Baswati Rice</p>
        </div>

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover4.jpg" alt="Book Cover 2">

            <h2>Olive Oil</h2>
            <p>Price: <b>₹ 900</b></p>
            <p>Brand: <b>Del Monte</b></p>
            <p>Description: Extra Virgin Olive Oil</p>
        </div>

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover5.jpg" alt="Book Cover 2">

            <h2>Wheat Flour</h2>
            <p>Price: <b>₹ 400</b></p>
            <p>Brand: <b>Aashirvaad</b></p>
            <p>Description: Freshly Ground Wheat Flour</p>
        </div>

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover6.jpg" alt="Book Cover 2">

            <h2>Flat Oats</h2>
            <p>Price: <b>₹ 500</b></p>
            <p>Brand: <b>Quaker</b></p>
            <p>Description: Non Processed Flat Oats</p>
        </div>

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover7.jpg" alt="Book Cover 2">

            <h2>Honey</h2>
            <p>Price: <b>₹ 600</b></p>
            <p>Brand: <b>DiSono</b></p>
            <p>Description: Slow Aged Virgin Honey</p>
        </div>

        <div class="groceriesSubContainer">
            <img class="groceriesCover" src="./covers/cover8.jpg" alt="Book Cover 2">

            <h2>Cookies</h2>
            <p>Price: <b>₹ 90</b></p>
            <p>Brand: <b>Unibic</b></p>
            <p>Description: Cashew and Badam Cookies</p>
        </div>

    </div>
</body>

</html>