<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha Mart</title>
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="homeContainer">
        <div class="neumorphic-container">
            <h1>Home</h1>
            <p>
                Welcome to Pratiksha Mart, owned by the dynamic 3rd-year BCA student Pratiksha, offers a carefully
                curated selection of top-quality products and a user-friendly tech-enhanced shopping experience.
                Discover fresh produce, household essentials, and a community that shares Pratiksha's passion for
                excellence and innovation. Shop confidently at Pratiksha Mart, where quality meets passion and
                technology meets convenience.
            </p>
            <p>Happy Shopping!
            </p>
        </div>
    </div>
</body>

</html>