<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha Mart</title>
    <link rel="stylesheet" href="clothing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="clothingContainer">

        <div class="clothingSubContainer mens">
            <img class="clothingCover" src="./covers/cover1.jpg" alt="Dress Image">

            <h2>Levi Jeans</h2>
            <p>for <b>Men</b></p>
            <p>Sizes Available: M, L, XL, XXL, XXXL</p>
            <p>Price: <b>₹ 1300</b></p>
        </div>

        <div class="clothingSubContainer womens">
            <img class="clothingCover" src="./covers/cover3.jpg" alt="Dress Image">

            <h2>H&M Cargo Pants</h2>
            <p>for <b>Women</b></p>
            <p>Sizes Available: M, L, XL, XXL, XXXL</p>
            <p>Price: <b>₹ 2300</b></p>
        </div>

        <div class="clothingSubContainer mens">
            <img class="clothingCover" src="./covers/cover4.jpg" alt="Dress Image">

            <h2>H&M Cargo Pants</h2>
            <p>for <b>Men</b></p>
            <p>Sizes Available: M, L, XL, XXL, XXXL</p>
            <p>Price: <b>₹ 1500</b></p>
        </div>

        <div class="clothingSubContainer womens">
            <img class="clothingCover" src="./covers/cover2.jpg" alt="Dress Image">

            <h2>Levi Jeans</h2>
            <p>for <b>Women</b></p>
            <p>Sizes Available: M, L, XL</p>
            <p>Price: <b>₹ 1800</b></p>
        </div>

        <div class="clothingSubContainer mens">
            <img class="clothingCover" src="./covers/cover5.jpg" alt="Dress Image">

            <h2>Levi Denim Shirt</h2>
            <p>for <b>Men</b></p>
            <p>Sizes Available: M, XL, XXL, XXXL</p>
            <p>Price: <b>₹ 1100</b></p>
        </div>

        <div class="clothingSubContainer womens">
            <img class="clothingCover" src="./covers/cover6.jpg" alt="Dress Image">

            <h2>Levi Denim Shirt</h2>
            <p>for <b>Women</b></p>
            <p>Sizes Available: M, XL</p>
            <p>Price: <b>₹ 1400</b></p>
        </div>

        <div class="clothingSubContainer womens">
            <img class="clothingCover" src="./covers/cover7.jpg" alt="Dress Image">

            <h2>Allen Solly Formal Shirt</h2>
            <p>for <b>Women</b></p>
            <p>Sizes Available: S, M, L, XL</p>
            <p>Price: <b>₹ 1500</b></p>
        </div>

        <div class="clothingSubContainer mens">
            <img class="clothingCover" src="./covers/cover8.jpg" alt="Dress Image">

            <h2>Allen Solly Formal Shirt</h2>
            <p>for <b>Men</b></p>
            <p>Sizes Available: S, M, L, XL, XXL, XXXL</p>
            <p>Price: <b>₹ 1200</b></p>
        </div>

        <div class="clothingSubContainer mens">
            <img class="clothingCover" src="./covers/cover10.jpg" alt="Dress Image">

            <h2>Raymond Ethinic Wear</h2>
            <p>for <b>Men</b></p>
            <p>Sizes Available: Tailored</p>
            <p>Price: <b>₹ 3200</b></p>
        </div>

        <div class="clothingSubContainer womens">
            <img class="clothingCover" src="./covers/cover9.jpg" alt="Dress Image">

            <h2>Sabyasachi Ethinic Wear</h2>
            <p>for <b>Women</b></p>
            <p>Sizes Available: Tailored</p>
            <p>Price: <b>₹ 16000</b></p>
        </div>

        <div class="clothingSubContainer womens">
            <img class="clothingCover" src="./covers/cover12.jpg" alt="Dress Image">

            <h2>Adidas Sports Jersey</h2>
            <p>for <b>Women</b></p>
            <p>Sizes Available: S, M, L, XL</p>
            <p>Price: <b>₹ 1600</b></p>
        </div>

        <div class="clothingSubContainer womens">
            <img class="clothingCover" src="./covers/cover13.jpg" alt="Dress Image">

            <h2>Nike Joggers</h2>
            <p>for <b>Women</b></p>
            <p>Sizes Available: S, M, L</p>
            <p>Price: <b>₹ 1900</b></p>
        </div>

        <div class="clothingSubContainer mens">
            <img class="clothingCover" src="./covers/cover11.jpg" alt="Dress Image">

            <h2>Adidas Sports Jersey</h2>
            <p>for <b>Men</b></p>
            <p>Sizes Available: S, M, L, XL</p>
            <p>Price: <b>₹ 1400</b></p>
        </div>

        <div class="clothingSubContainer mens">
            <img class="clothingCover" src="./covers/cover13.jpg" alt="Dress Image">

            <h2>Puma Joggers</h2>
            <p>for <b>Men</b></p>
            <p>Sizes Available: S, M, L, XL, XXL</p>
            <p>Price: <b>₹ 1700</b></p>
        </div>



    </div>
</body>

</html>