<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Electronics Emporium</title>
    <link rel="stylesheet" href="electronics.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="electronicsContainer">

        <div class="electronicsSubContainer">
            <img class="electronicsCover" src="./covers/cover3.jpg" alt="Book Cover 2">

            <h2>Moto Edge 40</h2>
            <p>starting at <b>₹ 29,900</b></p>
            <p>Variants: 8/128 GB & 12/256 GB</p>
            <p>Released: 2023</p>
        </div>

        <div class="electronicsSubContainer">
            <img class="electronicsCover" src="./covers/cover2.jpg" alt="Book Cover 2">

            <h2>iPhone 14 Pro Max</h2>
            <p>starting at <b>₹ 1,27,999</b></p>
            <p>Variants: 128 GB, 256 GB, 512 GB & 1TB</p>
            <p>Released: 2022</p>
        </div>

        <div class="electronicsSubContainer">
            <img class="electronicsCover" src="./covers/cover4.jpg" alt="Book Cover 2">

            <h2>iPhone 14 Pro Max</h2>
            <p>starting at <b>₹ 69,999</b></p>
            <p>Variants: 8/128 GB & 12/256 GB</p>
            <p>Released: 2022</p>
        </div>

        <div class="electronicsSubContainer">
            <img class="electronicsCover" src="./covers/cover5.jpg" alt="Book Cover 2">

            <h2>Xiaomi 13 Pro</h2>
            <p>starting at <b>₹ 79,999</b></p>
            <p>Variants: 12/256 GB</p>
            <p>Released: 2023</p>
        </div>

        <div class="electronicsSubContainer">
            <img class="electronicsCover" src="./covers/cover6.jpg" alt="Book Cover 2">

            <h2>Samsung Galaxy Z Fold4</h2>
            <p>starting at <b>₹ 1,54,999</b></p>
            <p>Variants: 12/256 GB & 12/512</p>
            <p>Released: 2022</p>
        </div>

        <div class="electronicsSubContainer">
            <img class="electronicsCover" src="./covers/cover7.jpg" alt="Book Cover 2">

            <h2>iQOO 9 Pro</h2>
            <p>starting at <b>₹ 44,999</b></p>
            <p>Variants: 12/256 GB & 12/512</p>
            <p>Released: 2022</p>
        </div>


        <div class="electronicsSubContainer">
            <img class="electronicsCover" src="./covers/cover1.jpg" alt="Book Cover 2">

            <h2>Samsung Galaxy S23 Ultra</h2>
            <p>starting at <b>₹ 1,24,999</b></p>
            <p>Variants: 12/256 GB & 12/512</p>
            <p>Released: 2023</p>
        </div>



    </div>
</body>

</html>