<!DOCTYPE html>
<html>

<head>
    <title>Pratiksha's Furniture Paradise</title>
    <link rel="stylesheet" href="furniture.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="furnitureContainer">


        <div class="furnitureSubContainer">
            <img class="furnitureCover" src="./covers/cover2.jpg" alt="Book Cover 2">

            <h2>Elephant Decorations</h2>
            <p>starting at <b>₹ 900</b></p>
            <p>Material Used: Steel</p>
        </div>

        <div class="furnitureSubContainer">
            <img class="furnitureCover" src="./covers/cover3.jpg" alt="Book Cover 2">

            <h2>Foot Stool</h2>
            <p>starting at <b>₹ 1900</b></p>
            <p>Material Used: Wood</p>
        </div>

        <div class="furnitureSubContainer">

            <img class="furnitureCover" src="./covers/cover4.jpg" alt="Book Cover 2">

            <h2>Storage Trolley</h2>
            <p>starting at <b>₹ 2200</b></p>
            <p>Material Used: Steel</p>
        </div>

        <div class="furnitureSubContainer">
            <img class="furnitureCover" src="./covers/cover8.jpg" alt="Book Cover 2">

            <h2>Cabinet</h2>
            <p>starting at <b>₹ 4900</b></p>
            <p>Material Used: Wood, Steel, Rubber</p>

        </div>

        <div class="furnitureSubContainer">
            <img class="furnitureCover" src="./covers/cover5.jpg" alt="Book Cover 2">

            <h2>Modern Chair</h2>
            <p>starting at <b>₹ 1400</b></p>
            <p>Material Used: Steel, Rubber</p>
        </div>

        <div class="furnitureSubContainer">

            <img class="furnitureCover" src="./covers/cover6.jpg" alt="Book Cover 2">

            <h2>See-Through Cabinet</h2>
            <p>starting at <b>₹ 2900</b></p>
            <p>Material Used: Steel, Rubber</p>

        </div>






    </div>
</body>

</html>